header{
    background: #009d5f;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 0 0 10px 0;
}

.menu{
    text-align: center;
}

.menu .btn-app{
    background: #009d5f;
    color: white;
    padding: 10px;
    border-radius: 0;
    width: 50%;
}

.flow-git{
    margin: 10px 0 0 0;
}

.header-git{
    background: #009d5f;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-git a{
    color: white;
    text-decoration: underline;
}