header{
    background: #009d5f;
    color: white;
    padding: 5px;
    text-align: center;
}

.splashscreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000000;
    text-align: center;
    padding: 18% 0 0 0;
    font-size: 25px;
    color: #009d5f;
}

.menu{
    text-align: center;
    margin: 10px 0 0 0;
}

.menu .btn-app{
    background: #009d5f;
    color: white;
    padding: 10px 0;
    border-radius: 0;
}

.flow-git{
    margin: 10px 0 0 0;
}

.header-git{
    background: #009d5f;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-git a{
    color: white;
    text-decoration: underline;
}

.box-list{
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1000;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    padding: 0;
    top: 0;
    right: 0;
}

.content-block{
    margin: 0;
}

.block-git{
    padding: 0 15px;
    border: 1px solid #aeaeae;
    border-radius: 3px;
}

.btn-secondary{
    border-radius: 0;
}

.vdp-datepicker{
    text-align: center!important;
}

.commit-line{
    padding: 10px 0;
    text-decoration: none;
    color:#000000;
}

.commit-line:hover{
    text-decoration: none;
    color: black;
    background: navajowhite;
}

.btn-readme{
    background: none;
    color: black;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: left;
    font-weight: 600;
}

.readme-info{
    border-bottom: 1px solid grey;
}